{% extends 'base.html.twig' %}

{% block title %}Citation au Hasard{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-8 mx-auto quote">
                <h2>"{{quote.name}}"</h2>
                <p>- {{quote.author}}</p>

                <div class="row">
                    <div class="col-2 mx-auto">
                        <button type="button" onClick="reload()" class="btn btn-light">Rafraîchir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
