@import url('https://fonts.googleapis.com/css?family=Alkatra&display=swap');

html, body{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}
.quote{
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
h2{
    padding: 50px 50px 10px 50px;
    font-family: 'Alkatra';
    text-align: center;
}
p{
    text-align: right;
    font-size: 1.4em;
    padding-right: 30px;
}